<ion-header>
    <ion-toolbar>
      <ion-item> 
      <ion-button style="height: 30px; width: 35px;" color="dark" shape="round">Todo</ion-button>  
      <ion-icon name="contrast-outline" slot="end"></ion-icon>
    <ion-toggle style="font-size: 12px; text-align:center;" slot="end" (ionChange)='toggleTheme($event)'>
    </ion-toggle> 
    </ion-item> 
    </ion-toolbar>
  </ion-header>

  <ion-content>
  <!-- Slider de imagenes-->
  <ion-slides [options]="option" class="ion-margin-top">
    <ion-slide>
      <ion-card class="slide">
        <img src="assets/images/05.jpg">
      </ion-card>
    </ion-slide>
    
    <ion-slide>
      <ion-card class="slide">
        <img src="assets/images/04.jpg">
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card class="slide">
        <img src="assets/images/03.jpg">
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card class="slide">
        <img src="assets/images/02.jpg">
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card class="slide">
        <img src="assets/images/01.jpg">
      </ion-card>
    </ion-slide>
  </ion-slides>

<!-- Imagenes-->
<ion-grid>
  <ion-row>
    <ion-col size="6" *ngFor="let imagen of imagenes">
      <img class="imagenes" src="{{imagen}}" > 
      <!-- Like a imagenes-->
      <ion-item>
      <ion-buttons slot="start">
        <ion-button (click)="onClick()">
          <ion-icon slot="icon-only"
                    color="danger"
                    [name]="favorite ? 'heart': 'heart-outline'">
                  </ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
    </ion-col>
  </ion-row>
</ion-grid>

</ion-content>
