<ion-header>
    <ion-toolbar>
      <ion-icon name="logo-pinterest" slot="end" color="danger" style="height: 30px; width: 30px;"></ion-icon>
      <ion-button style="height: 30px; width: 35px;" color="dark" shape="round">Todo</ion-button>    
    </ion-toolbar>
  </ion-header>

    <ion-content>
<!-- Segment buttons with text and click listener -->
<ion-segment >
  <ion-segment-button  [routerLink]="['/actualizar']">
    <ion-label>Actualizacion</ion-label>
  </ion-segment-button>
  <ion-segment-button [routerLink]="['/tab3']">
    <ion-label>Mensajeria</ion-label>
    
  </ion-segment-button>
  

  
</ion-segment>

      <ion-grid>
        <ion-row *ngFor="let message of messages">
          <ion-col size="9" *ngIf="currentUser !== message.user" class="message other-message">
            <img src="../../assets/icon/moni.jpg" style="height: 30px; width: 30px; border-radius: 30px;">
            <b>{{ message.user }}</b><br>
            <span>{{ message.msg }}</span>
            <div class="time" text-right><br>
              {{ message.createdAt | date:'short' }}
            </div>
          </ion-col>
          
          <ion-col offset="3" size="9" *ngIf="currentUser === message.user" class="message my-message"> 
            <img src="../../assets/icon/yo.jpeg" style="height: 30px; width: 30px; border-radius: 30px;">
            <b>{{ message.user }}</b><br>
            <span>{{ message.msg }}</span>
            <div class="time" text-right><br>
              {{ message.createdAt | date:'short' }}
            </div>
           
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-content>

    <ion-footer>
      <ion-toolbar style="height: 50px" color="light">
        <ion-row align-items-center no-padding>
          <ion-col size="10">
            <textarea autosize maxRows="3" [(ngModel)]="newMsg" class="message-input"> </textarea>

          </ion-col>

          <ion-col size="2">
            <ion-button expand="block" fill="clear" [disabled]="newMsg === ''" class="msg-btn" (click)="sendMessage()">
              <ion-icon name="send" slot="icon-only"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-toolbar>
    </ion-footer>